/*
=========== Basic styles ===========
*/
html {font-size: 18px;}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", Georgia, serif;
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074rem;
}

h2 {font-size: 1.728rem;}

h3 {font-size: 1.44rem;}

h4 {font-size: 1.2rem;}

small, .font_small {font-size: 0.833rem;}



/*
=========== Min content ===========
*/

.content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    padding-left: 10%;
    padding-right: 10%;
}

.reddit-selected {
    font-weight: bold;
    text-transform: capitalize;
    color: cornflowerblue;
}

@media screen and (min-width: 768px) {
    .content {
        width: calc(100vw - 12rem - 20px - 1px);
    }
}


/*
   ===========  Navigation Styles ===========
*/

.navigation {
    background-color: white;
}   

.navigation-item {
    display: flex;
    align-items: baseline;
}

.navigation-item  a {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.3em;;
    color: #555;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-item > i {
    color: silver;
    margin-right: 1rem;
}

.navigation-item > i:hover {
    color: indianred;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
    color: cornflowerblue;
}

.icon-navigation {
    text-align: right;
}

.icon-navigation i {
    padding: .5rem;
    color: silver;
}

.icon-navigation i:hover,
.icon-navigation i:active,
.icon-navigation i.active {
    color: cornflowerblue;
}

@media screen and (min-width: 768px) {
    .navigation {
        width: 12rem;
        float: left;
        padding-bottom: 2000em;
        margin-bottom: -2000em;
        overflow: hidden;
        border-right: 1px solid #999;
    }
    
}



/* 
=========== Helper classes ===========
*/

.cf::before, .cf::after {
    content:"";
    display:table;
}
.cf::after {
    clear:both;
}
.cf {
    zoom:1;
}


/*
=========== Add Reddit panel
*/

.add-panel {
    padding: .5rem;
}

.input-reddit {
    padding-left: .5rem;
}

.add-btn {
    background-color: cornflowerblue;
    border-color: dodgerblue;
    width: 3rem;
    color: white;
}

.add-btn:hover,
.add-btn:active {
    background-color: dodgerblue;
    border-color: cornflowerblue;
}

@media screen and (min-width: 768px) {
    .input-reddit {
        width: 7.2rem;
    }
}